<div class="doctor-list-row">
	<p class="doctor-number"><%= doctorNumber %></p>
	<p class="doctor-name"><%= doctorName %></p>
</div>

<style>

	.doctor-list-row {
		display: flex;
		align-items: center;
		width: 100%;
	}

	.doctor-number {
		margin-right: calc((1vh + 1vw) / 2);
	}


</style>